@font-face {
    font-family: 'chaney';
    src: url("CHANEY-UltraExtended.otf") format("opentype");
}

@font-face {
    font-family: 'archia';
    src: url("archia-semibold-webfont.ttf") format("opentype");
}

body {
    background-color: rgb(114, 245, 74);
    padding: 0;
    margin: 10px;
}

.logo {
    width: 70%;
    display: block;
    margin: 10px auto;
}

.research {
    background-image: url("collage-1.png");
}

.headshot {
    width: 40vw;
    float: right; 
    margin: 0px 15px 15px 0px;
    border: 5px solid red;
}

.headshot-left {
    width: 40vw;
    float: left; 
    margin: 0px 15px 15px 0px;
    border: 5px solid red;
}

.map {
    width: 100%;
}

.about {
    white-space: pre-wrap;
    /* background-color: aqua; */
}

/* .about-body {
    background-image: url("Collage4.jpg");
} */

h1 {
    size: 400;
    color: rgb(72, 10, 131);
    text-align: center;
    background-color: aqua;
    font-family: 'chaney';
}

.artist {
    color: rgb(255, 0, 0);
    font-size: 25px;
}

.tracks {
    margin: 0 auto;
    text-align: center;
}

.on-pink {
    background-color: pink;
}

.homepage {
    background-image: url("Collage4.jpg");
}

p {
    font-size: 18px;
    font-family: 'archia';
}

.nav {
    text-align: center;
}

.centered {
    text-align: center;
}

a {
    color: rgb(249, 1, 214);
    font-size: 20px;
    background-color: aqua;
}

#poster {
    width: 100vw;
    display: block;
    margin: 0 auto;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    #poster {
        width: 600px;
    }
}